{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rebase Games | O melhor de revenda</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
</head>

<body>
    {% include 'partials/_header.html' %}
    <!-- Carrossel automático -->
    <section class="carousel__container" id="carousel">
        <div class="carousel__slide"><img src="{% static 'images/banner1.jpg' %}" alt="Banner 1"></div>
        <div class="carousel__slide"><img src="{% static 'images/banner2.jpg' %}" alt="Banner 2"></div>
        <div class="carousel__slide"><img src="{% static 'images/banner3.jpg' %}" alt="Banner 3"></div>
    </section>

    <!-- Grid de Jogos -->
    <p class="title">Jogos à venda</p>
    <main class="games__grid">
        {% for game in games %}
        <div class="game__card">
            <a href="{% url 'game-detail' pk=game.pk %}" class="game__card__link">
                {% if game.image %}
                <img src="{{ game.image.url }}" class="game__image" alt="Foto do jogo {{ game.name }}">
                {% else %}
                <img src="{% static 'images/no-image.png' %}" class="game__image" alt="Sem imagem">
                {% endif %}
                <div class="game__info">
                    <div>
                        <div class="game__row">
                            <h3 class="game__name">{{ game.name }}</h3>
                            <span class="game__price">R${{ game.price }}</span>
                        </div>
                        <p class="game__seller">Por {{ game.owner }}</p>
                        <p class="game__seller">{{ game.get_category_display }}</p>
                        <p class="game__description">{{ game.description }}</p>
                    </div>
                    <div class="game__actions">
                        {% if request.user.is_authenticated and game.owner == request.user %}
                        <a href="editar/{{ game.id }}">Editar</a>
                        <a href="deletar/{{ game.id }}">Deletar</a>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </main>

    {% include 'partials/_footer.html' %}
</body>

</html>